In [1]:
import numpy as np
import math
import random
import pandas as pd
import datetime as dt

In [5]:
df = pd.read_csv("KOL_indexed_selected.csv", dayfirst=True)

In [6]:
df.head()

               date        Device  KWH_F
0  01-01-2019 00:00  KOL-22819318  0.219
1  01-12-2018 00:15  KOL-22819318  0.071
2  01-12-2018 00:30  KOL-22819318  0.070
3  01-12-2018 00:45  KOL-22819318  0.087
4  01-12-2018 01:00  KOL-22819318  0.106

In [17]:
df1 = pd.read_csv("KOL_indexed_balanced_1-2-3-4-5-6-7.csv", dayfirst=True)

In [18]:
df1.head()

               date        Device  KWH_F
0  01-01-2019 00:00  KOL-22819318  0.219
1  01-12-2018 00:15  KOL-22819318  0.071
2  01-12-2018 00:30  KOL-22819318  0.070
3  01-12-2018 00:45  KOL-22819318  0.087
4  01-12-2018 01:00  KOL-22819318  0.106

In [24]:
df1.loc[(df1['Device'].str.contains('KOL-22818763') & df1['date'].str.contains('12-11-2018')), 'KWH_F']

317065    0.11301
317066    0.11301
317067    0.11301
317068    0.11301
317069    0.11301
           ...
317156    0.11301
317157    0.11301
317158    0.11301
317159    0.11301
317160    0.11301
Name: KWH_F, Length: 96, dtype: float64

In [23]:
df.loc[(df['Device'].str.contains('KOL-22819152') & df['date'].str.contains('05-10-2018')), 'KWH_F']

576457    0.053
576458    0.050
576459    0.051
576460    0.093
576461    0.057
          ...
576548    0.220
576549    0.057
576550    0.060
576551    0.060
576552    0.058
Name: KWH_F, Length: 96, dtype: float64